

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.center button {
    padding: 10px 20px;
    font-size: 15px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0,15);
    border-radius: 10px;
    border: 1px solid;
}

.popup close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;

}

 .form .form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 100%;
}

 .form button {
    margin-top: 15px;
    width: 100%;
    height: 40px;
}